<template>
  <login-router />
</template>

<script >
import { mapActions, mapGetters } from "vuex";
import loginRouter from "./loginRouter";
import Home from "./Home";

export default {
  components: {
    loginRouter
  },
  data() {
    return {
      email: "ass",
      password: "as"
    };
  },
  methods: {
    ...mapActions("auth", {
      login: "login",
      fetch_user: "fetch_user"
    })
  },

  computed: {
    ...mapGetters('auth', {
      isLogged: 'isLogged'
    }),
  },

  watch: {

  },

  async created() {
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #136eb9;
  color: #ffffff;
  font-family: "FontAwesome";
}

.title {
  text-align: left;
  padding-left: 16;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.drawer-header {
  padding: 50 16 16 16;
  margin-bottom: 16;
  background-color: #136eb9;
  color: #ffffff;
  font-size: 24;
}

.drawer-item {
  padding: 8 16;
  color: #333333;
  font-size: 16;
}

.page {
  align-items: center;
  flex-direction: column;
}
</style>
