<template>
  <Page actionBarHidden="true" ref="page">
    <StackLayout orientation="horizontal">
    <ScrollView ref="scroll" orientation="vertical" class="page" :verticalAlignment="form_align"
                :scrollBarIndicatorVisible="false">
      <StackLayout orientation="horizontal">
        <StackLayout orientation="vertical" verticalAlignment="center" padding="30px"
                     width="100%">
          <Image horizontalAlignment="center" class="logo" src="~/assets/images/logo.png"></Image>
          <TextField
            class="input-login"
            hint="Email"
            keyboardType="email"
            autocorrect="false"
            autocapitalizationType="none"
            v-model="email"
            returnKeyType="next"
            :isEnabled="!processing"
            @returnPress="focusPassword"
            marginBottom="20px"
          ></TextField>
          <TextField
            class="input-login"
            ref="password"
            :isEnabled="!processing"
            hint="Password"
            secure="true"
            v-model="password"
            @returnPress="submit"
          ></TextField>
          <Button text="Войти" :isEnabled="!processing" @tap="submit"
                  class="btn btn-primary m-t-20 button_login"></Button>

          <Label @tap="restorePassword"
                 horizontalAlignment="center"
                 :textWrap="true"
                 marginTop="10"
                 text="Забыли пароль?">
          </Label>
        </StackLayout>
      </StackLayout>
    </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import {isIOS, screen} from "tns-core-modules/platform";
  import {ios as iosApp} from "tns-core-modules/application/application";
  import Home from "./Home";
  import RestorePassword from "../components/modals/RestorePassword";

  export default {
    data() {
      return {
        email: "",
        password: "",
        processing: false,
        form_align: 'center',
        isIOS,
      };
    },

    methods: {
      ...mapActions("auth", {
        login: "login",
        fetch_user: "fetch_user",
      }),

      submit() {
        this.processing = true;

        this.on_login();
      },

      async on_login() {
        this.login({
          email: this.email,
          password: this.password
        })
          .then(async resp => {
            await this.fetch_user();
            this.processing = false;
          })
          .catch(e => {
            const msg = e.hasOwnProperty('request') ?
              {title: 'Ой!', message: 'Ошибка связи с сервером'}
              : {title: 'Ошибка авторизации', message: e.message};

            alert({
              ...msg,
              okButtonText: 'Ok'
            });
            this.processing = false;
          });
      },

      focusPassword() {
        this.$refs.password.nativeView.focus();
      },

      restorePassword() {
        this.$showModal(RestorePassword, {android: {cancelable: false}, props: {email: this.email}});
      },
    },

    computed: {
      ...mapGetters("auth", {
        isLogged: 'isLogged',
      })
    },

    watch: {
      isLogged: function (cur, old) {
        if (cur) {
          this.$navigateTo(Home, {
            clearHistory: true
          })
        }
      }
    },

    mounted() {
      if (isIOS) {
        iosApp.addNotificationObserver(UIKeyboardWillShowNotification, (event) => {
          const keyboardHeight = event.userInfo.valueForKey(UIKeyboardFrameEndUserInfoKey).CGRectValue.size.height;
          const screenHeight = screen.mainScreen.heightDIPs;
          this.$set(this, 'form_align', 'top');
        });

        iosApp.addNotificationObserver(UIKeyboardWillHideNotification, (event) => {
          const keyboardHeight = event.userInfo.valueForKey(UIKeyboardFrameEndUserInfoKey).CGRectValue.size.height;
          const screenHeight = screen.mainScreen.heightDIPs;
          this.$set(this, 'form_align', 'center');
        })
      }
    }
  };
</script>

<style scoped>
  .page {
    align-items: center;
    flex-direction: column;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  .logo {
    margin-bottom: 12;
    height: 200;
    font-weight: bold;
  }

  .header {
    background-color: rgb(255, 255, 255);
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #5ea840;
  }

  .button_login {
    background-color: #5ea840;
  }

  .input-field {
    margin-bottom: 25;
  }

  .input {
    font-size: 18;
  }

  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }

  .btn-primary {
    margin: 30 5 15 5;
  }

  .login-label {
    color: #a8a8a8;
    font-size: 16;
  }

  .sign-up-label {
    margin-bottom: 20;
  }

  .bold {
    color: #000000;
  }

  .input-login {
    border-width: 2px 2px 2px 2px;
    border-color: #c4c4c4;
    border-radius: 5px;
    padding: 10px;
  }
</style>
