<template>
  <Page borderRadius="5">
    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical" backgroundColor="#ffffff" padding="10">
        <Label class="fa btn-close"
               :class="{ disabled: processing }"
               :text="`fa-close` | fonticon" horizontalAlignment="right"
               @tap="close"
               :isEnabled="!processing"></Label>
        <Label marginBottom="10" :textWrap="true"
               text="Укажите адрес электронной почты, куда будет выслан новый временный пароль:">
        </Label>

        <TextField
          class="input-login"
          hint="Email"
          keyboardType="email"
          autocorrect="false"
          autocapitalizationType="none"
          v-model="restoreTo"
          returnKeyType="next"
          :isEnabled="!processing"
          marginBottom="10"
        ></TextField>

        <Button class="btn1"
                :class="{disabled: !restoreTo}"
                :isEnabled="!!restoreTo"
                text="Выслать пароль"
                @tap="restorePassword"
                v-if="!processing"></Button>
        <ActivityIndicator v-else color="#5ea840" :busy="processing"></ActivityIndicator>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
  import axios from "../../config/axios";

  export default {
    props: ['email'],

    data() {
      return {
        restoreTo: '',
        processing: false,
      }
    },

    methods: {
      restorePassword() {
        if (!!this.restoreTo) {
          this.processing = true;
          const data = {
            query: `
mutation ($email: String!) {
  restarigi(retposhto: $email) {
    status
    message
  }
}
          `,
            variables: {
              email: this.restoreTo
            }
          };

          axios.post("/registrado/", data)
            .then(response => {
              const resp = response.data.data.restarigi;

              if (resp.status) {
                setTimeout(() => {
                  alert({
                    message: "Новый пароль отправлен по указанному адресу.",
                    okButtonText: 'Ok'
                  });
                  setTimeout(this.close, 50);
                }, 1500);
              } else {
                alert({
                  title: "Ой!",
                  message: resp.message,
                  okButtonText: 'Ok'
                });
              }
            })
            .catch(e => {
              alert({
                title: "Ой!",
                message: "Ошибка связи с сервером",
                okButtonText: 'Ok'
              });
              this.processing = false;
            })
        }
      },

      close() {
        this.$modal.close();
      }
    },

    mounted() {
      this.restoreTo = this.email || '';
    }
  }
</script>

<style scoped>
  .input-login {
    border-width: 2px 2px 2px 2px;
    border-color: #c4c4c4;
    border-radius: 5px;
  }

  .btn1 {
    background-color: #5ea840;
    color: #fff;
  }

  .btn1.disabled {
    background-color: rgba(0, 0, 0, 0.41);
  }

  .btn-close {
    font-size: 24px;
    color: #ff001c;
  }

  .btn-close.disabled {
    color: rgba(0, 0, 0, 0.41);
  }
</style>