<template>
  <Page borderRadius="5">
    <StackLayout class="h-full" orientation="vertical" backgroundColor="#90ee90">
      <StackLayout orientation="horizontal" class="h-full" horizontalAlignment="center">
        <StackLayout padding="7" verticalAlignment="center">
          <Label text="Спасибо!"
                 class="h1 text-center"
                 :textWrap="true"
          >
          </Label>
          <Label text="Микс успешно списан."
                 class="h2 text-center"
                 :textWrap="true"
          >
          </Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
  export default {
    data() {
      return {}
    },

    mounted() {
      setTimeout(
        this.$modal.close,
        2000
      )
    },
  }
</script>

<style scoped>

</style>