<template>
  <PageTemplate section_title active_icon="bars">
    <StackLayout class="h-full" backgroundColor="#E8E8E8">
      <StackLayout class="bg-white">
        <Ripple @tap="profilTap()">
          <FlexboxLayout>
            <Image v-if="user_data.avataro"
                   class="rounded-full"
                   width="40"
                   height="40"
                   marginTop="3"
                   marginBottom="3"
                   marginLeft="3"
                   marginRight="5"
                   borderColor="#aaaaaa"
                   borderWidth="1"
                   :src="user_data.avataro"
                   stretch="fill" />
            <Label
              v-else
              class="fa text-center m-4 text-4xl"
              :text="`fa-user-circle-o` | fonticon"
            />
            <FlexboxLayout flexDirection="column" justifyContent="center">
              <Label
                :text="`${user_data.unuaNomo.enhavo} ${user_data.familinomo.enhavo}`"
                class="text-gray-700 text-base"
              />
              <Label text="Открыть профиль" />
            </FlexboxLayout>
          </FlexboxLayout>
        </Ripple>
      </StackLayout>
      <StackLayout class="bg-white mt-3">
        <Ripple @tap="settingsTap">
          <FlexboxLayout flexDirection="row" class="p-1">
            <Label
              class="fa text-center m-2 text-2xl"
              alignContent="center"
              justifyContent="center"
              :text="`fa-cog` | fonticon"
            />
            <Label text="Настройки приложения" class="text-gray-700 text-lg py-2" />
          </FlexboxLayout>
        </Ripple>
        <!--<Ripple @tap="homeTap">
          <FlexboxLayout flexDirection="row" class="p-1">
            <Label
              class="fa text-center m-2 text-2xl"
              alignContent="center"
              justifyContent="center"
              :text="`fa-th-large` | fonticon"
            />
            <Label text="Рабочий стол" class="text-gray-700 text-lg py-2" />
          </FlexboxLayout>
        </Ripple>-->
        <Ripple @tap="tapHelp">
          <FlexboxLayout flexDirection="row" class="p-1">
            <Label
              class="fa text-center m-2 text-2xl"
              alignContent="center"
              justifyContent="center"
              :text="`fa-question-circle-o` | fonticon"
            />
            <Label text="Помощь" class="text-gray-700 text-lg py-2" />
          </FlexboxLayout>
        </Ripple>
      </StackLayout>
      <StackLayout class="bg-white mt-3">
        <Ripple @tap="on_logout">
          <FlexboxLayout flexDirection="row" class="p-1">
            <Label
              class="fa text-center m-2 text-2xl"
              alignContent="center"
              justifyContent="center"
              :text="`fa-sign-out` | fonticon"
            />
            <Label text="Выход" class="text-gray-700 text-lg py-2" />
          </FlexboxLayout>
        </Ripple>
      </StackLayout>
    </StackLayout>
  </PageTemplate>
</template>

<script>
import App from "../App";
import profile from "../views/profile";
import { mapActions } from "vuex";
import help from "../views/help";
import home from "../Home";
import settings from "../views/settings";

export default {
  methods: {
    ...mapActions("auth", {
      logout: "logout"
    }),
    tapHelp() {
      this.$emit("close");
      this.$navigateTo(help, {
        clearHistory: false,
      });
    },
    homeTap() {
      this.$emit("close");
      this.$navigateTo(home);
    },
    settingsTap() {
      this.$emit("close");
      this.$navigateTo(settings, {
        clearHistory: false,
      })
    },
    async on_logout() {
      confirm({
        title: "",
        message: "Вы действительно хотите выйти из приложения?",
        okButtonText: "Да",
        cancelButtonText: "Нет"
      }).then(async result => {
        if (result) {
          await this.logout();
          this.$navigateTo(App, { clearHistory: true });
        }
      });
    },
    profilTap() {
      this.$navigateTo(profile, {
        clearHistory: false,
        animated: true
      });
    }
  }
};
</script>
<style scoped>

</style>