<template>
  <Page class="page">
    <ActionBar class="topbar">
      <FlexboxLayout>
        <Ripple v-if="!is_main" @tap="$emit('back')">
          <Label class="fa text-right text-xl mr-3" width="30" :text="`fa-arrow-left` | fonticon"/>
        </Ripple>

        <Label :text="menu? '' : section_title" class="text-lg" width="200"/>
        <Label text width="100"/>
        <!-- <Label
          v-if="is_main"
          class="fa text-right text-2xl"
          width="30"
          :text="`fa-bars` | fonticon"
          @tap="menu = !menu"
        />-->
      </FlexboxLayout>
      <!-- <Label text="oksmd"></Label>
      <Label class="fa" :text="`fa-search` | fonticon" />-->
      <!-- <ActionItem
        @tap="$refs.drawer.nativeView.showDrawer()"
        ios.systemIcon="4"
        android.systemIcon="ic_menu_sort_by_size"
        ios.position="left"
      />-->
    </ActionBar>

    <RadSideDrawer
      ref="drawer"
      @drawerOpened="onDrawerOpened()"
      @drawerClosed="onDrawerClosed()"
      drawerLocation="Right"
      alignSelf="flex-end"
    >
      <StackLayout ~drawerContent backgroundColor="#eee" width="100%" class="drawer_nav">
        <StackLayout>
          <ScrollView>
            <StackLayout>
              <!-- <img width="25%" v-if="user_data" :src="user_data.avatar" class="avatar_drawer" /> -->
              <Label
                class="name_text"
                :text="`${user_data.unuaNomo.enhavo} ${user_data.familinomo.enhavo}`"
              />
              <Label text="Открыть профиль" class="text-center" @tap="profilTap"></Label>
              <Label @tap="on_logout" class="drawer-item m-t-20" text="Выход"/>
            </StackLayout>
          </ScrollView>
        </StackLayout>
      </StackLayout>

      <StackLayout ~mainContent>
        <DockLayout>
          <StackLayout dock="top" height="90%" width="100%" style>
            <ScrollView>
              <BarcodeScanner
                row="1"
                height="300"
                formats="QR_CODE, EAN_13, UPC_A"
                beepOnScan="true"
                reportDuplicates="true"
                preferFrontCamera="false"
                @scanResult="onScanResult"
                v-if="isIOS"
              ></BarcodeScanner>
              <menu @close="menu = false" v-if="menu"></menu>
              <slot v-else></slot>
            </ScrollView>
          </StackLayout>

          <StackLayout
            dock="bottom"
            height="10%"
            style="border-color:#E4E4E4;border-width:1;background:#fff;"
          >
            <StackLayout orientation="horizontal">
              <StackLayout v-for="(btn, i) in btns" :key="i" class="navItem">
                <Label
                  v-if="btn.notifications"
                  :text="btn.notifications"
                  android:class="notificationAndroid"
                  ios:class="notification"
                />
                <Label
                  v-if="(btn.icon === 'qrcode' && !scanning) || btn.icon !== 'qrcode'"
                  class="fa"
                  @tap="btn.icon == 'th-large' ? homeTap() : btn.icon == 'qrcode'? doScanWithBackCamera() : menu_tap()"
                  :text="`fa-${btn.icon}` | fonticon"
                  :android:style="`font-size:25;margin-top:${btn.notifications? '-10' : '15'}`"
                  :ios:style="`font-size:30;margin-top:${btn.notifications? '-10' : '15'}`"
                  :id="`${active_icon == btn.icon ? 'active' : `btn_${btn.icon}`}`"
                  :isEnabled="!scanning"
                />
                <ActivityIndicator v-else
                                   color="#5ea840"
                                   :android:style="`margin-top:${btn.notifications? '-10' : '10'}`"
                                   :ios:style="`margin-top:${btn.notifications? '-10' : '10'}`"
                                   :busy="scanning"></ActivityIndicator>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </DockLayout>
      </StackLayout>
    </RadSideDrawer>
  </Page>
</template>

<script>
  import {mapActions} from "vuex";
  import Home from "../Home";
  import App from "../App";
  import SettingsPage from "../views/settings";
  import profile from "../views/profile";
  import menu from "../UI/menu";
  import MixPreview from "../views/MixPreview"
  import DocPreview from "../views/DocPreview"
  import {BarcodeScanner} from "nativescript-barcodescanner";
  import {isIOS} from "tns-core-modules/platform";

  export default {
    components: {
      // menu
    },
    created() {
    },
    props: {
      section_title: {
        type: String
      },
      active_icon: {
        type: String,
        required: true
      },
      is_main: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        isIOS,
        scanning: false,
        codeScanner: null,
        menu: false,
        drawerToggle: false,
        drawer1: "",
        drawer2: "",
        mainColor: "#1aa3ff",
        btns: [
          {
            icon: "th-large",
            link: "",
            notifications: 0
          },
          // {
          //   icon: "bell-o",
          //   link: ""
          // },
          {
            icon: "qrcode",
            link: "",
            notifications: 0
          },
          {
            icon: "bars",
            link: "",
            notifications: 0
          }
          // {
          //   icon: "bell-o",
          //   link: "",
          //   notifications: 0
          // },
          // {
          //   icon: "search",
          //   link: "",
          //   notifications: 0
          // }
          // {
          //   icon: "graduation-cap",
          //   link: "",
          //   notifications: 0
          // },
          // {
          //   icon: "globe",
          //   link: "",
          //   notifications: 0
          // }
        ]
      };
    },
    methods: {
      ...mapActions("auth", {
        logout: "logout"
      }),
      onDrawerClosed() {
        this.drawerToggle = false;
      },
      menu_tap() {
        this.$navigateTo(menu);
      },
      onDrawerOpened() {
        this.drawerToggle = true;
      },
      toggleDrawer() {
        this.$refs.drawer.nativeView.toggleDrawerState();
      },
      homeTap() {
        this.$navigateTo(Home, {
          clearHistory: true,
          animated: false
        });
      },
      onScanResult(evt) {
        console.log(`onScanResult: ${evt.text} (${evt.format})`);
      },
      doScanWithBackCamera() {
        this.scanning = true;
        this.scan(false);
      },
      doScanWithFrontCamera() {
        this.scan(true);
      },
      scan(front) {
        if (!this.codeScanner) {
          this.codeScanner = new BarcodeScanner();
        }
        this.scanning = true;

        this.codeScanner.scan({
          cancelLabel: "ОТМЕНА", // iOS only, default 'Close'
          cancelLabelBackgroundColor: "#333333", // iOS only, default '#000000' (black)
          message: "Используйте кнопки громкости для подсветки", // Android only, default is 'Place a barcode inside the viewfinder rectangle to scan it.'
          preferFrontCamera: front, // Android only, default false
          showFlipCameraButton: false, // показывать кнопку переключения камеры
          showTorchButton: true, // iOS only, default false
          torchOn: false, // launch with the flashlight on (default false)
          resultDisplayDuration: 500, // Android only, default 1500 (ms), set to 0 to disable echoing the scanned text
          beepOnScan: false, // Play or Suppress beep on scan (default true)
          openSettingsIfPermissionWasPreviouslyDenied: true, // On iOS you can send the user to the settings app if access was previously denied
          reportDuplicates: true,
          continuousScanCallback: (result) => {
            if (/.+documents\/.+$/gi.test(result.text)) {
              const uuid = result.text.split("documents/")[1];

              this.codeScanner.pause = true;
              this.$sysAudio.playSuccess()
                .then(() => {
                  setTimeout(() => {
                    this.codeScanner.stop();
                    this.$navigateTo(DocPreview, {
                      clearHistory: false,
                      props: {
                        uuid: uuid
                      }
                    });
                  }, 500)
                });
            } else if (/.+resources\/.+$/gi.test(result.text)) {
              const uuid = result.text.split("resources/")[1];

              this.codeScanner.pause = true;
              this.$sysAudio.playSuccess()
                .then(() => {
                  setTimeout(() => {
                    this.codeScanner.stop();
                    this.$navigateTo(MixPreview, {
                      clearHistory: false,
                      props: {
                        uuid: uuid
                      }
                    });
                  }, 500)
                });
            } else {
              this.$sysAudio.playError();
              alert({
                title: 'Ой!',
                message: 'Код не распознан',
                okButtonText: 'Ok'
              })
            }
          },
          closeCallback: () => {
            this.scanning = false;
            console.log("Scanner closed @ " + new Date().getTime());
          }
        })
          .then(
            result => {

            },
            errorMessage => {
              console.log("No scan. " + errorMessage);
            }
          );
      },
      profilTap() {
        this.$navigateTo(profile, {
          clearHistory: true,
          animated: false
        });
      },
      manual_router() {
        this.$navigateTo(SettingsPage, {clearHistory: true});
      },
      async on_logout() {
        await this.logout();
        this.$navigateTo(App, {clearHistory: true});
      },
      conversationsTap() {
        // this.$navigateTo(Convs, {
        //   clearHistory: true,
        //   animated: false
        // });
      },
      notificationsTap() {
      },
      showDetails() {
      }
    }
  };
</script>
<style scoped>
  .notificationAndroid {
    background: red;
    width: 22;
    height: 22;
    margin-top: 12%;
    margin-left: 25;
    border-radius: 30;
    z-index: 100;
    color: #fff;
    font-size: 13;
    padding-top: 1;
  }

  .navItem {
    width: 33%;
    text-align: center;
  }

  .topbar {
    background-color: #5ea840;
  }

  #btn_bell-o,
  #btn_search {
    color: #c0c0c0;
  }

  #active {
    color: #5ea840;
  }

  ActionBar {
    background-color: #136eb9;
    color: #ffffff;
    font-family: "FontAwesome";
  }

  .drawer-header {
    padding: 50 16 16 16;
    margin-bottom: 16;
    background-color: #136eb9;
    color: #ffffff;
    font-size: 24;
  }

  .drawer-item {
    text-align: center;
    font-weight: 500;
    padding: 8 16;
    color: #333333;
    font-size: 16;
  }

  .avatar_drawer {
    margin-top: 10px;
    border: 1px solid #9c9c9c;
    border-radius: 50%;
  }

  .drawer_nav {
    align-items: center;
    flex-direction: column;
  }

  .name_text {
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
  }

  .drawer_icon {
    font-size: 25px;
  }

  .divider {
    width: 90%;
  }
</style>
