<template>
  <PageTemplate section_title="Документ на поставку" active_icon="qrcode">
    <ScrollView orientation="vertical">
      <StackLayout paddingTop="5" class="h-full" backgroundColor="#E8E8E8">
        <StackLayout class="postContainer p-5 h-full">
          <Label :text="dokLabel"
                 class="h2 font-weight-bold text-center"
                 textWrap="true"
          >
          </Label>
          <GridLayout columns="*, *" rows="25" borderRadius="3" backgroundColor="#a9a9a9" padding="5"
                      style="color: #fff;">
            <Label text="Количество" class="text-center font-weight-bold" row="0" col="0"></Label>
            <!--<Label text="Цена за шт." class="text-center font-weight-bold" row="0" col="1"></Label>-->
          </GridLayout>

          <StackLayout padding="5" v-for="(item, idx) in kordoj" :key="idx" class="list">
            <Label class="h3 font-weight-bold" :text="`${item.resurso.nomo.enhavo}:`" :textWrap="true">
            </Label>
            <GridLayout columns="*, *" rows="30">
              <Label :text="`${item.kvanto} шт.`" class="text-center font-weight-bold" row="0" col="0"></Label>
              <!--<Label :text="`${item.prezo} руб./шт.`" class="text-center font-weight-bold" row="0" col="1"></Label>-->
            </GridLayout>
          </StackLayout>

          <GridLayout columns="*, *, *, *" rows="25" borderRadius="3" backgroundColor="#a9a9a9" padding="5"
                      style="color: #fff;">
            <Label text="Итого:" class="font-weight-bold text-left" col="0"></Label>
            <Label :text="`${tuta} шт.`" class="font-weight-bold text-left" col="1"></Label>
            <!--<Label text="на сумму" class="font-weight-bold text-left" col="2"></Label>
            <Label :text="`${tuta_prezo} руб.`" class="font-weight-bold text-left" col="3"></Label>-->
          </GridLayout>
          <FlexboxLayout justifyContent="center">
            <Button v-for="(item, idx) in agoj" :key="idx"
                    class="m-15 p-5"
                    style="background-color: #3da813; color: #ffffff;"
                    :text="item.nomo.enhavo"
                    :isEnabled="!action"
                    @tap="ago(item.kodo)"
            />
          </FlexboxLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </PageTemplate>
</template>

<script>
  import {graphQlUrlize} from "../../config/utils";
  import headers from "../../config/auth_data";
  import DocSuccess from "./DocSuccess";

  export default {
    props: {
      uuid: {
        type: String,
        required: true
      }
    },

    data() {
      return {
        action: false,
        tuta: 0,
        tuta_prezo: 0,
        dokumeto: {
          objId: null,
          kreaDato: null,
          statuso: {
            kodo: null,
            nomo: {
              enhavo: null
            }
          },
          kordoj: [],
          agoj: [],
        }
      }
    },

    computed: {
      dokLabel() {
        return `Поставка № ${this.dokumeto.objId} от ${this.$moment(this.dokumeto.kreaDato).format('LL')}`
      },

      kordoj() {
        return this.dokumeto.kordoj
      },

      agoj() {
        return this.dokumeto.agoj
      }
    },

    watch: {},

    methods: {
      ago(kodo) {
        this.action = true;
        const query = `
mutation($uuid: UUID!, $kodo: String!){
  dokumentoAgo(dokUuid: $uuid, agoKodo: $kodo) {
    status
    errors {
      field
      message
    }
    message
  }
}`;
        const vars = {
          uuid: this.uuid,
          kodo: kodo
        };

        return this.$http.post('', {
          query: query,
          variables: JSON.stringify(vars)
        }, headers.post)
          .then(response => {
            const resp = response.data.data.dokumentoAgo;

            if (resp.status) {
              this.$navigateTo(DocSuccess, {
                clearHistory: true
              });
              return Promise.resolve()
            }

            this.action = false;
            return Promise.reject()
          })
          .catch(e => {
            if (e && e.hasOwnProperty('request')) {
              alert({
                title: 'Ой!',
                message: 'Ошибка связи с сервером',
                okButtonText: 'Ok'
              });
            }

            this.action = false;
            return Promise.reject(e)
          })
      },

      loadData() {
        const query = `
query($uuid: UUID) {
  dokumentoj(tipo_Kodo: "livero", uuid: $uuid) {
    edges {
      node {
        objId
        uuid
        kreaDato
        agoj {
          kodo
          escepta
          nomo {
            enhavo
          }
        }
        statuso {
          kodo
          nomo {
            enhavo
          }
        }
        kordoj {
          edges {
            node {
              uuid
              objId
              resurso {
                uuid
                nomo {
                  enhavo
                }
              }
              kvanto
              prezo
              atributoj
            }
          }
        }
      }
    }
  }
}`;

        return this.$http.get(graphQlUrlize({query: query, variables: {uuid: this.uuid}}))
          .then(response => {
            let resp = response.data.data.dokumentoj;

            if (resp.edges.length) {
              this.dokumeto = {...resp.edges[0].node, kordoj: []};
              let kordoj = resp.edges[0].node.kordoj.edges.map(v => ({
                ...v.node,
                atributoj: JSON.parse(v.node.atributoj || '{}')
              }));

              for (const idx in kordoj) {
                this.tuta += kordoj[idx].kvanto;
                //this.tuta_prezo += kordoj[idx].kvanto * kordoj[idx].prezo
              }

              this.$set(this.dokumeto, 'kordoj', kordoj);

              return Promise.resolve()
            }

            alert({
              title: 'Ой!',
              message: 'Документ не найден',
              okButtonText: 'Ok'
            });

            this.$navigateTo(Home, {
              clearHistory: true
            });

            return Promise.reject()
          })
          .catch(e => {
            if (e && e.hasOwnProperty('request')) {
              alert({
                title: 'Ой!',
                message: 'Ошибка связи с сервером',
                okButtonText: 'Ok'
              });
            }

            this.$navigateTo(Home, {
              clearHistory: true
            });

            return Promise.reject(e)
          })
      }
    },

    mounted() {
      this.loadData()
    }
  }
</script>

<style scoped>
  .list {
    border-bottom-width: 1px;
    border-bottom-color: #858585;
  }
</style>