<template>
  <PageTemplate section_title="Документ на поставку" active_icon="qrcode">
    <FlexboxLayout height="100%" class="page" backgroundColor="white">
      <StackLayout class="form">
        <Label text="Спасибо!"
               class="h1 text-center"
               :textWrap="true"
        >
        </Label>
        <Label text="Ваш заказ оприходован. Документы будут высланы на электронную почту."
               class="h2 text-center"
               :textWrap="true"
        >
        </Label>
      </StackLayout>
    </FlexboxLayout>
  </PageTemplate>
</template>

<script>
  import Home from "../Home";

  export default {
    data() {
      return {}
    },

    mounted() {
      setTimeout(() => {
        this.$navigateTo(Home, {
          clearHistory: true
        })
      }, 3000)
    }
  }
</script>

<style scoped>
  .page {
    align-items: center;
    flex-direction: column;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
</style>