<template>
  <PageTemplate
    @back="back_tap()"
    android:is_main="false"
    @scan="doScanWithBackCamera"
    section_title="Помощь"
    active_icon
  >
    <StackLayout class="pt-3 h-full" backgroundColor="#E8E8E8">
      <StackLayout class="bg-white">
        <Label
          class="p-3 text-base text-gray-700"
          textWrap
        >По всем вопросам технической поддержки приложения звоните по телефону:</Label>
        <Label
          class="p-3 text-base text-gray-700"
          textWrap
        >+7 (495) 142-25-89</Label>
        <!-- <Label
          class="p-3 text-base text-gray-700"
          textWrap
        >+7 (977) 724-12-18</Label> -->
      </StackLayout>

      <StackLayout class="bg-white mt-3">
        <Label class="p-3 text-base text-gray-700" textWrap>Версия: 0.5.7</Label>
      </StackLayout>
    </StackLayout>
  </PageTemplate>
</template>

<script>
import home from "../Home";
export default {
  methods: {
    back_tap() {
      this.$navigateTo(home);
    }
  }
};
</script>
