<template>
  <PageTemplate @back="back_tap()" android:is_main="false" :section_title="title" active_icon>
    <StackLayout class="p-5 h-full" backgroundColor="#E8E8E8">
      <StackLayout class="postContainer shadow-md p-4 rounded">
        <TextField
          :isEnabled="hasPerm('homoj.shanghi_retposhton')"
          class="mb-2 bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
          v-model="form_secure.poshto"
          :text="form_secure.poshto"
          hint="Е-почта"
        />
        <TextField
          v-if="hasPerm('homoj.shanghi_pasvorton') || hasPerm('homoj.shanghi_retposhton')"
          :secure="true"
          class="mb-2 bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
          v-model="form_secure.nuna"
          hint="Текущий пароль"
        />
        <TextField
          v-if="hasPerm('homoj.shanghi_pasvorton')"
          class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
          v-model="form_secure.pas"
          :secure="true"
          hint="Новый пароль"
        />
      </StackLayout>
      <Button class="my_green text-white" @tap="save_info()">Сохранить</Button>
    </StackLayout>
  </PageTemplate>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import headers from "../../config/auth_data";
  import Home from "../Home";
  import {File, knownFolders, path} from 'tns-core-modules/file-system';
  import {isAndroid, isIOS} from 'tns-core-modules/platform';

  export default {
    data() {
      return {
        form_secure: {
          poshto: "",
          nuna: "",
          pas: ""
        }
      };
    },

    computed: {
      ...mapGetters("auth", {
        user_data: "user_data",
        user_perms: "permissions"
      }),
      title() {
        return "Смена данных профиля";
      }
    },

    methods: {
      ...mapActions("auth", {
        login: "login",
        fetch_user: "fetch_user"
      }),

      hasPerm(perm) {
        return this.user_perms[perm.split('.')[0]].indexOf(perm.split('.')[1]) > -1
      },
      back_tap() {
        this.$navigateBack();
      },

      async save_info() {
        const query = `
mutation($familinomo: String, $unuaNomo: String, $duaNomo: String, $avataro: String,
  $nuna: String, $pas: String, $konf: String, $poshto: String) {
  redaktuHomoProfilo(unuaNomo: $unuaNomo, duaNomo: $duaNomo, familinomo: $familinomo,
  avataro: $avataro, nunaPasvorto: $nuna, pasvorto: $pas, pasvortaKonfirmo: $konf,
  retpowto: $poshto) {
    status
    message
    errors {
      field
      message
    }
  }
}
        `;

        let variables = {};
        for (const key in this.form_secure) {
          if (this.form_secure[key].length > 1) {
            if (
              key === "poshto" &&
              this.form_secure.poshto === this.user_data.retpowto
            ) {
            } else {
              variables[key] = this.form_secure[key];
            }
          }
        }
        variables = {...variables, konf: this.form_secure.pas};

        const resp = await this.$http.post(
          "",
          {query: query, variables: variables},
          headers.post
        );

        if (resp.data.data.redaktuHomoProfilo.status) {
          const login_resp = await this.login({email: this.user_data.retpowto, password: this.form_secure.pas});

          if (!login_resp) {
            this.$navigateTo(loginRouter, {
              clearHistory: true
            })
          }
        }

        await this.fetch_user();
        this.$navigateBack();
      }
    },

    mounted() {
      this.form_secure.poshto = this.user_data.retpowto;
    }
  };
</script>

<style scoped>
  .icon_user {
    font-size: 100;
  }
</style>
